<h3>Here is what the question currently looks like:</h3>
<h4><%= @question.description() %></h4>

<h3>Here are the saved responses:</h3>
<% if @responses.any? %>
<ol>
  <% @responses.each() do |response| %>
    <li><%= response.answer %></a></li>
  <%end%>
</ol>
<%else%>
<p>There are no responses saved yet!</p>
<%end%>

<p>Add responses to this question:</p>
<form action="/surveys/<%= @survey.id() %>/questions/<%= @question.id%>/responses" method="post">
  <label for="answer">Answer:</label>
  <input name="answer" type="text">
<button type="submit">Add</button>
</form>

<form action="/surveys/<%= @survey.id() %>/questions/<%= @question.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="description">Update the question:</label>
  <input name="description" type="text">
<button type="submit">Update</button>
</form>

<form action="/surveys/<%= @survey.id() %>/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
